@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ---- reset ---- */
* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	outline: none;
	box-sizing: border-box;
}
html {
	outline: none;
}
body {
	height: 100%;
	font-family: 'Poppins', sans-serif;
}

/* ---- header & nav ---- */

header {
	width: 100%;
	position: fixed;
	border-bottom: 1px solid #d4d4d4;
	background-color: #fafafa;
}
nav {
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-block: 0.7rem;
	margin: 0 auto;
}
.logo-container {
	display: flex;
	align-items: center;
	gap: 1rem;
}
.logo-container img {
	width: 50px;
}
.logo-container h1 {
	font-weight: 600;
	font-size: 1.4rem;
	letter-spacing: 1px;
}

nav ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
}
nav ul li a {
	font-weight: 300;
	font-size: 0.9rem;
	color: #0a0a0a;
	transition: all 0.3s ease;
}
nav ul li a:hover {
	opacity: 0.8;
}
button {
	padding: 0.5rem 0.9rem;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 0.9rem;
	color: #fafafa;
	border: 0;
	border-radius: 5px;
	background-color: #0a0a0a;
	cursor: pointer;
	transition: all 0.3s ease;
}
button:hover {
	opacity: 0.8;
}

/* ---- main content ---- */

main {
	color: #0a0a0a;
}

main {
	width: 90%;
	padding-top: 6.5rem;
	margin: 0 auto;
}

.main-container {
	display: grid;
	grid-template-columns: 20% 80%;
	align-items: start;
	gap: 2rem;
}

.anchor-col,
.content-col {
	padding: 2rem;
	border: 1px solid #d4d4d4;
	border-radius: 10px;
}

.anchor-col h2 {
	font-weight: 500;
	font-size: 1.1rem;
}
hr {
	margin-block: 1rem;
}
.anchor-col ul li {
	margin-bottom: 0.4rem;
}
.anchor-col ul li a {
	font-weight: 300;
	font-size: 0.9rem;
	color: #1e40af;
	transition: all 0.3s ease;
}
.anchor-col ul li a:hover {
	opacity: 0.8;
}

.content-col p {
	font-weight: 300;
	font-size: 0.9rem;
	line-height: 2;
	text-align: justify;
}

.content-col article {
	padding: 1.5rem 1rem;
}
.content-col article h4 {
	margin-bottom: 0.5rem;
}
